# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/
/main.py
/build/

/**/*.cpp.save
/**/*.hpp.save
/**/*.cbp*
/**/*.sh
/**/*.layout
/cmake-build-debug/
/**/main*.cpp*
/**/main*.hpp*
/matplotlib-cpp/
/.kdev4/
/GRBModels.kdev4
